@media (max-width: 576px){
   main {
        line-height: 23px;
        word-spacing: 0;
        line-height: 20px;   
    }

    .bg{
        height: 320px;
    }

    .bg .informacao .descricao {
        padding: 0.5rem 1rem; 
    }

    .bg .informacao .descricao h1 {
        font-size: 18px;
    }
    
    .bg .imagem-mulher img {
        height: 350px;
    } 

    .primeiro-texto-central {
        margin-top: 30px;
         
        letter-spacing: -0.2px;
    }

    .primeiro-texto-central .informacao {
        padding: 1rem 1rem 2rem;
    }

    .segundo-texto-central .informacao-de-agradecimneto .descricao {
        max-width: 55%;
        padding: 0.5rem 1rem;
    }

    .imagem-certo {
        max-height: 161px;
    }
}
